body {
    font-family: rubik !important;
}

a {
    text-decoration: none !important;
}

.d-none {
    display: none;
}

.ps-45 {
    padding-left: 1.8rem !important;
}

.ps-6 {
    padding-left: 4rem !important;
}

.pt-45 {
    padding-top: 2rem !important;
}

.mb-55 {
    margin-bottom: 3.2rem !important;
}

.mb-35 {
    margin-bottom: 1.25rem !important;
}


.navbar {
    align-items: flex-start !important;
    min-height: 50vh;
}

.width {
    width: 35% !important;
}

.height {
    min-height: 50vh !important;
}

.progress {
    height: 1.7vh !important;
    --bs-progress-border-radius: 0 !important;
    background-color: #AEAEAE !important;
}

.progress-bar {
    background-color: #27355B !important;
    border-radius: 0 16px 16px 0;
}

.contentContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 98.3vh;
    background-color: #FEFAEF !important;
}

.menu {
    display: flex;
    flex-direction: column;
}

.options {
    font-size: 18px;
}

.tropy {
    height: 17vh;
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 1;
}

.bg-color {
    background-color: #27355C;
}

.bg-white_ {
    background-color: white;
}

.border-color {
    --bs-border-color: rgb(210, 210, 210);
}

.card {
    justify-content: center;
    background-color: rgb(247, 247, 247) !important;
    /* height: auto !important; */
}

.card-sub {
    display: flex;
    align-items: center;
    flex: 1 1 auto;
    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
}

.letter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 42px;
    width: 42px;
    background-color: #D6D6D6;
}

.logo {
    height: 60px;
    object-fit: contain;
}

.card-title {
    text-align: center;
}

.card-body {
    background-color: rgb(247, 247, 247);
}

.border-radius1 {
    border-top-right-radius: var(--bs-border-radius) !important;
    border-bottom-right-radius: var(--bs-border-radius) !important;
}

.border-radius2 {
    border-radius: 2px !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.answer:hover {
    cursor: pointer;
    background-color: rgb(246, 246, 246);
}

.questionFooter {
    display: flex;
    justify-content: space-between;
}

.btn-dark {
    background-color: #27355C !important;
}

.btn-blue {
    color: white !important;
    background-color: #183CE8 !important;
    border: 1px solid #2840AB !important;
}

.btn-blue:hover {
    background-color: #3554f1 !important;
    border: 1px solid #3c54be !important;
}

.bg-correct {
    background-color: rgba(183, 246, 153) !important;
}

.bg-correct2 {
    background-color: #4FBE19;
}

.bg-incorrect {
    background-color: rgba(255, 163, 164) !important;
}

.bg-incorrect2 {
    background-color: #F81818;
}

.endscreen {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.head {
    height: 90px;
    object-fit: contain;
}

.endspan {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.white {
    color: white;
}

.white:hover {
    color: rgb(218, 218, 218);
}

.orange {
    color: orange;
}

.blue {
    color: #2C429E;
}

.blue:hover {
    cursor: pointer;
    color: #4668ee;
    transition: all 1s ease-out;
}

.blue:hover:after {
    transition: all 1s ease-out;
}